.debug header {
    min-height: 70px;
}

.debug .jumbo{
    height: 500px;
}

.debug .jumbo_container{
    height: 90%;
    background-color: black;
}
.debug .portfolio{
    height: 200px;
}

.debug .portfolio_container{
    height: 80%;
    background-color: red;
}


header{
    background-color: #2C3E50;
    align-items: center;
    display: flex;
 

    > .box{
        background-color: red;
        height: 40px;
    }
}

/* header */

.jumbo{
    background-color: #1ABC9C;
    align-items: center;
    display: flex;
}
    /* jumbo */


.portfolio{

    background-color: #6C4E6F;
    display: flex;
    align-items: end;
    justify-content: center;
}    

/* portfolio */



.about{
    background-color: black;
    height: 50px;
 

}





