.debug header {
    min-height: 70px;

}

.debug .jumbo {
    height: 500px;
}

.debug .jumbo_container {
    height: 90%;
}

.debug .portfolio {
    height: 200px;
}

.debug .portfolio_container {
    height: 90%;
   
}


.debug .about {
    height: 200px;
}

.debug .contact-me {
    height: 500px;
}

.debug footer {
    min-height: 100px;


}
.debug .contact-me{
    height: 600px;

}





header {
    background-color: #2C3E50;
    align-items: center;
    display: flex;

}

/* header */

.jumbo {
    background-color: #1ABC9C;
}

.font{
    font-size: x-large;
}

.font_{
    font-size: xxx-large;
}

/* star */
.star{
    font-size: x-large;
}
/* star */




/* jumbo */


.portfolio {

    display: flex;
    align-items: end;
    justify-content: center;
}

/* portfolio */





.mt_5{
    margin-top: 5rem;
}

.btn_{
    background-color: #1ABC9C;   
    border: 0; 
    border-radius: 5px;
}


.data {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: end;
}

/* contact-me */


.prompt {
    background-color: #3A546D;
}
.btn-{
    border: 1px solid;
    padding: 10px;
    border-radius: 1.5rem;
}

.link{
    text-decoration: none;
    color: #1ABC9C;    
}

/* prompt */

footer {
    background-color: #2C3E50;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;


}


